 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }
 /* main{
    font-size: 16px;
    padding: 2px;
 } */
 body{
    background-color: rgba(82, 9, 71, 0.14);
 }
 
 

 .container{
    border: 6px solid purple;
    border-bottom: 20px double magenta;
    border-right: 20px double magenta;
    width: 50%;
    margin: 3em;
    padding: 2em;
    background-color: rgb(4, 32, 32);
    color: wheat;
    outline: 4px dotted yellow;
    outline-offset: -15px;
 }

 .circle{
    height: 100px;
    width: 100px;
    background-color: yellow;
    margin: 4rem auto;
    border: 15px solid greenyellow;
    border-radius: 50px;
    outline: 8px dotted blue;
    outline-offset: 12px;
 }